@import "tailwindcss";
@import "tw-animate-css";
@import "@nuxt/ui";

@theme {
  --font-spectral: 'Spectral', serif;
  --font-bricolage-grotesque: 'Bricolage Grotesque', serif;
}

body {
  @apply font-bricolage-grotesque;
}

.step-enter-active,
.step-leave-active {
  transition: all 0.3s ease;
}

.step-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.step-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.step-enter-to,
.step-leave-from {
  opacity: 1;
  transform: translateY(0);
}